<%= form_for(@user, :html => { :class => "artistForm"}) do |f| %>
	<h2>I'm a designer</h2>
	<p>I want to be a featured designer on betathread. Please send me more info.</p>
	<%= render 'shared/error_messages', object: f.object %>
	<%= f.text_field :email, :placeholder => "Enter your email" %>
	<%= f.hidden_field :usertype, :value => "2" %>
	<%= f.submit "Submit", class: "btn" %>
<% end %>