<!DOCTYPE html>
<html>
	<head>
        <meta property="og:title" content="betathread - fund fashion artisans" />
        <meta property="og:type" content="company" />
        <meta property="og:site_name" content="betathread - fund fashion artisans" />
        <meta property="og:description" content="How would you like to be part of a fashion brand and enable fashion creatives to make something great.  Be apart of new and best fashion out there." />
        <meta property="og:url" content="betathread.com" />
		
	  <title><%= full_title(yield(:title)) %></title>
	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	  <%= render 'layouts/shim' %>  
	</head>
	<body>
		<div id="wrapper" class="clearFix">
			<%= render 'layouts/header' %>

			<%= yield %>
		</div>

		<%= render 'layouts/footer' %>
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<script>

			(function() {

				var intro = $('div#intro'); // Store the intro div as a variable

				var fanForm = $('form.fanForm'); // Store User Type 1 form as a variable
				var artistForm = $('form.artistForm'); // Store User Type 2 form as a variable

				// var fanBtn = $('<button></button>', {
				// 				text: 'I love fashion!',
				// 				class: 'btn fanBtn'}); // Create the "I'm User Type 1!" button

				// var artistBtn = $('<button></button>', {
				// 				text: 'I\'m a designer',
				// 				class: 'btn artistBtn'}); // Create the "I'm User Type 2!" button

				// intro.append(fanBtn, artistBtn); // Place the buttons at the end of the intro

				$('.fanBtn').on('click', function(){
					fanForm.slideToggle(250);
				}); // Functionality for User Type 1's button - reveal email form

				$('.artistBtn').on('click', function(){
					artistForm.slideToggle(250);
				}); // Functionality for User Type 1's button - reveal email form

			})();

			</script>
			<!-- Google Analytics -->
			<script>
			  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			  ga('create', 'UA-43514285-1', 'betathread.com');
			  ga('send', 'pageview');

			</script>

	</body>
</html>
